<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <mat-icon style="margin-right: 5px;" >home</mat-icon>
      <span>Online Shop</span>
    </div>

    <span class="example-spacer"></span>
    <div class="toolbar no-select">

    </div>


  </mat-toolbar-row>
</mat-toolbar>

<!-- teke code header from Angular Material toolBar -->
<!-- After set up Angular Material  choose the name of icon  on a /fonts.google.com  and only write the name. -->
